<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SIAM Projects</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SIAM Projects</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-16"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_16" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6e2e41ad.png" alt="SIAM Projects" usemap="#6e2e41admap"/>
			   <map name="6e2e41admap">
				  		<area shape="rect" coords="740,860,980,970" href="../elements/9a9ef41b.html"  target="element">
				  		<area shape="rect" coords="1100,860,1918,970" href="../elements/471aff2f.html"  target="element">
				  		<area shape="rect" coords="596,20,2494,130" href="../elements/655a9f3c.html"  target="element">
				  		<area shape="rect" coords="68,20,574,130" href="../elements/3994c74a.html"  target="element">
				  				<area shape="rect" coords="862,284,1102,394" href="../elements/24eea9b4.html"  target="element">
				  				<area shape="rect" coords="1124,284,1364,394" href="../elements/5259711e.html"  target="element">
				  				<area shape="rect" coords="1124,476,1364,586" href="../elements/9b59b15e.html"  target="element">
				  				<area shape="rect" coords="2204,284,2470,430" href="../elements/af6fdfba.html"  target="element">
				  				<area shape="rect" coords="1652,640,1916,750" href="../elements/6c2f2bca.html"  target="element">
				  				<area shape="rect" coords="862,480,1102,590" href="../elements/cad57c5b.html"  target="element">
				  				<area shape="rect" coords="1378,640,1618,750" href="../elements/ece40873.html"  target="element">
				  				<area shape="rect" coords="1098,644,1338,754" href="../elements/c9e9d6de.html"  target="element">
				  				<area shape="rect" coords="1388,284,1618,394" href="../elements/8fbc95dd.html"  target="element">
				  				<area shape="rect" coords="1652,284,1892,394" href="../elements/e74fba7a.html"  target="element">
				  				<area shape="rect" coords="1916,284,2156,394" href="../elements/48959882.html"  target="element">
				  				<area shape="rect" coords="68,284,574,394" href="../elements/0e0d189a.html"  target="element">
				  				<area shape="rect" coords="598,476,838,586" href="../elements/b033bc93.html"  target="element">
				  				<area shape="rect" coords="68,476,308,586" href="../elements/e6d3a591.html"  target="element">
				  				<area shape="rect" coords="334,476,574,586" href="../elements/a973adce.html"  target="element">
				  				<area shape="rect" coords="1388,476,2470,586" href="../elements/792cfcde.html"  target="element">
				  				<area shape="rect" coords="598,284,838,394" href="../elements/e184cfd4.html"  target="element">

				  		<area shape="rect" coords="20,212,2494,814" href="../elements/32e8357a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/32e8357a.html" target="element"> SIAM Projects </a> </td>
											    <td> <a href="../elements/32e8357a.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/e184cfd4.html" target="element"> Service validation and testing </a> </td>
													    <td> <a href="../elements/e184cfd4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/792cfcde.html" target="element"> Project management </a> </td>
													    <td> <a href="../elements/792cfcde.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a973adce.html" target="element"> Availability management design </a> </td>
													    <td> <a href="../elements/a973adce.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e6d3a591.html" target="element"> Capacity management design </a> </td>
													    <td> <a href="../elements/e6d3a591.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b033bc93.html" target="element"> Security design </a> </td>
													    <td> <a href="../elements/b033bc93.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0e0d189a.html" target="element"> Service Integration Design </a> </td>
													    <td> <a href="../elements/0e0d189a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/48959882.html" target="element"> Customer onboarding </a> </td>
													    <td> <a href="../elements/48959882.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e74fba7a.html" target="element"> Service provider onboarding </a> </td>
													    <td> <a href="../elements/e74fba7a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8fbc95dd.html" target="element"> Service integration </a> </td>
													    <td> <a href="../elements/8fbc95dd.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c9e9d6de.html" target="element"> SIAM evaluation </a> </td>
													    <td> <a href="../elements/c9e9d6de.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ece40873.html" target="element"> SIAM process improvement </a> </td>
													    <td> <a href="../elements/ece40873.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cad57c5b.html" target="element"> Infrastructure design </a> </td>
													    <td> <a href="../elements/cad57c5b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6c2f2bca.html" target="element"> Standards and Architecture improvement </a> </td>
													    <td> <a href="../elements/6c2f2bca.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/af6fdfba.html" target="element"> Adopt customer standards and guidelines </a> </td>
													    <td> <a href="../elements/af6fdfba.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9b59b15e.html" target="element"> IT Continuity design </a> </td>
													    <td> <a href="../elements/9b59b15e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5259711e.html" target="element"> Release and deployment management </a> </td>
													    <td> <a href="../elements/5259711e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/24eea9b4.html" target="element"> Change evaluation </a> </td>
													    <td> <a href="../elements/24eea9b4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/3994c74a.html" target="element"> SIAM Consulting </a> </td>
											    <td> <a href="../elements/3994c74a.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/655a9f3c.html" target="element"> Service transition management </a> </td>
											    <td> <a href="../elements/655a9f3c.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/471aff2f.html" target="element"> SIAM Design </a> </td>
											    <td> <a href="../elements/471aff2f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9a9ef41b.html" target="element"> Change Proposal </a> </td>
											    <td> <a href="../elements/9a9ef41b.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/abfd4856.html" target="element">  </a> </td>
																		<td> <a href="../elements/abfd4856.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/32e8357a.html" target="element"> SIAM Projects </a> </td>
																		<td> <a href="../elements/24eea9b4.html" target="element"> Change evaluation </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/f8fb3e05.html" target="element">  </a> </td>
																				<td> <a href="../elements/f8fb3e05.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/792cfcde.html" target="element"> Project management </a> </td>
																				<td> <a href="../elements/e184cfd4.html" target="element"> Service validation and testing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/33abedf1.html" target="element">  </a> </td>
																				<td> <a href="../elements/33abedf1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/792cfcde.html" target="element"> Project management </a> </td>
																				<td> <a href="../elements/24eea9b4.html" target="element"> Change evaluation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/8adeb4d6.html" target="element">  </a> </td>
																				<td> <a href="../elements/8adeb4d6.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/a973adce.html" target="element"> Availability management design </a> </td>
																				<td> <a href="../elements/0e0d189a.html" target="element"> Service Integration Design </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a2c18cde.html" target="element">  </a> </td>
																				<td> <a href="../elements/a2c18cde.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/e6d3a591.html" target="element"> Capacity management design </a> </td>
																				<td> <a href="../elements/0e0d189a.html" target="element"> Service Integration Design </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d12f0912.html" target="element">  </a> </td>
																				<td> <a href="../elements/d12f0912.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/b033bc93.html" target="element"> Security design </a> </td>
																				<td> <a href="../elements/0e0d189a.html" target="element"> Service Integration Design </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ab289ce8.html" target="element">  </a> </td>
																				<td> <a href="../elements/ab289ce8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/0e0d189a.html" target="element"> Service Integration Design </a> </td>
																				<td> <a href="../elements/3994c74a.html" target="element"> SIAM Consulting </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/b45cc0d0.html" target="element">  </a> </td>
																				<td> <a href="../elements/b45cc0d0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/48959882.html" target="element"> Customer onboarding </a> </td>
																				<td> <a href="../elements/792cfcde.html" target="element"> Project management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/fd0512c4.html" target="element">  </a> </td>
																				<td> <a href="../elements/fd0512c4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/48959882.html" target="element"> Customer onboarding </a> </td>
																				<td> <a href="../elements/655a9f3c.html" target="element"> Service transition management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4dcf718d.html" target="element">  </a> </td>
																				<td> <a href="../elements/4dcf718d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/48959882.html" target="element"> Customer onboarding </a> </td>
																				<td> <a href="../elements/af6fdfba.html" target="element"> Adopt customer standards and guidelines </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3822cb72.html" target="element">  </a> </td>
																				<td> <a href="../elements/3822cb72.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/e74fba7a.html" target="element"> Service provider onboarding </a> </td>
																				<td> <a href="../elements/792cfcde.html" target="element"> Project management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a6c9d15f.html" target="element">  </a> </td>
																				<td> <a href="../elements/a6c9d15f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/e74fba7a.html" target="element"> Service provider onboarding </a> </td>
																				<td> <a href="../elements/655a9f3c.html" target="element"> Service transition management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/84de934c.html" target="element">  </a> </td>
																				<td> <a href="../elements/84de934c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/e74fba7a.html" target="element"> Service provider onboarding </a> </td>
																				<td> <a href="../elements/8fbc95dd.html" target="element"> Service integration </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e797d8ce.html" target="element">  </a> </td>
																				<td> <a href="../elements/e797d8ce.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/8fbc95dd.html" target="element"> Service integration </a> </td>
																				<td> <a href="../elements/792cfcde.html" target="element"> Project management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ffedf1ed.html" target="element">  </a> </td>
																				<td> <a href="../elements/ffedf1ed.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/8fbc95dd.html" target="element"> Service integration </a> </td>
																				<td> <a href="../elements/655a9f3c.html" target="element"> Service transition management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/aa51d0a4.html" target="element">  </a> </td>
																				<td> <a href="../elements/aa51d0a4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/c9e9d6de.html" target="element"> SIAM evaluation </a> </td>
																				<td> <a href="../elements/471aff2f.html" target="element"> SIAM Design </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ae59b677.html" target="element">  </a> </td>
																				<td> <a href="../elements/ae59b677.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/c9e9d6de.html" target="element"> SIAM evaluation </a> </td>
																				<td> <a href="../elements/9a9ef41b.html" target="element"> Change Proposal </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/71b607da.html" target="element">  </a> </td>
																				<td> <a href="../elements/71b607da.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/ece40873.html" target="element"> SIAM process improvement </a> </td>
																				<td> <a href="../elements/792cfcde.html" target="element"> Project management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7804d500.html" target="element">  </a> </td>
																				<td> <a href="../elements/7804d500.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/ece40873.html" target="element"> SIAM process improvement </a> </td>
																				<td> <a href="../elements/471aff2f.html" target="element"> SIAM Design </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e8fe8dd4.html" target="element">  </a> </td>
																				<td> <a href="../elements/e8fe8dd4.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/cad57c5b.html" target="element"> Infrastructure design </a> </td>
																				<td> <a href="../elements/0e0d189a.html" target="element"> Service Integration Design </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/33ecd763.html" target="element">  </a> </td>
																				<td> <a href="../elements/33ecd763.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/6c2f2bca.html" target="element"> Standards and Architecture improvement </a> </td>
																				<td> <a href="../elements/792cfcde.html" target="element"> Project management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/15309539.html" target="element">  </a> </td>
																				<td> <a href="../elements/15309539.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/6c2f2bca.html" target="element"> Standards and Architecture improvement </a> </td>
																				<td> <a href="../elements/471aff2f.html" target="element"> SIAM Design </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3f5ce4d3.html" target="element">  </a> </td>
																				<td> <a href="../elements/3f5ce4d3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/af6fdfba.html" target="element"> Adopt customer standards and guidelines </a> </td>
																				<td> <a href="../elements/655a9f3c.html" target="element"> Service transition management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/91344d68.html" target="element">  </a> </td>
																				<td> <a href="../elements/91344d68.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/af6fdfba.html" target="element"> Adopt customer standards and guidelines </a> </td>
																				<td> <a href="../elements/792cfcde.html" target="element"> Project management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ade02fbf.html" target="element">  </a> </td>
																				<td> <a href="../elements/ade02fbf.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/9b59b15e.html" target="element"> IT Continuity design </a> </td>
																				<td> <a href="../elements/0e0d189a.html" target="element"> Service Integration Design </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/14d6f89b.html" target="element">  </a> </td>
																				<td> <a href="../elements/14d6f89b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/5259711e.html" target="element"> Release and deployment management </a> </td>
																				<td> <a href="../elements/655a9f3c.html" target="element"> Service transition management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/046e8cf6.html" target="element">  </a> </td>
																				<td> <a href="../elements/046e8cf6.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/5259711e.html" target="element"> Release and deployment management </a> </td>
																				<td> <a href="../elements/792cfcde.html" target="element"> Project management </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/2147f1cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/2147f1cd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/471aff2f.html" target="element"> SIAM Design </a> </td>
																		<td> <a href="../elements/9a9ef41b.html" target="element"> Change Proposal </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>