<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Supplier Security & Compliance Board</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Supplier Security &amp; Compliance Board</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-16"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_16" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/c7886f6b.png" alt="Supplier Security & Compliance Board" usemap="#c7886f6bmap"/>
			   <map name="c7886f6bmap">
				  		<area shape="rect" coords="1516,20,1782,130" href="../views/021b1afb.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="68,584,308,694" href="../views/e2dfdde8.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="68,412,308,522" href="../views/f7185858.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="20,20,260,130" href="../views/decb907f.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="332,412,572,694" href="../elements/758e71a8.html"  target="element">
				  		<area shape="rect" coords="630,956,944,1126" href="../elements/9be05158.html"  target="element">
				  		<area shape="rect" coords="668,752,908,862" href="../elements/71385caa.html"  target="element">
				          <area shape="rect" coords="1168,20,1438,130" href="../objects/75459695.html" target="element" >
				  		<area shape="rect" coords="1168,200,1408,310" href="../elements/16c8dbe5.html"  target="element">
				  		<area shape="rect" coords="1892,200,2134,310" href="../elements/844ed96d.html"  target="element">
				          <area shape="rect" coords="1980,28,2278,154" href="../objects/20378726.html" target="element" >
				  		<area shape="rect" coords="668,584,908,694" href="../elements/eb08e2a9.html"  target="element">
				  		<area shape="rect" coords="668,412,908,522" href="../elements/c7293346.html"  target="element">
				  		<area shape="rect" coords="1530,200,1770,310" href="../elements/4388720e.html"  target="element">
				  						<area shape="rect" coords="1532,580,1772,690" href="../views/ff4c4257.html"  target="view">
				  				    <!-- Other diagram objects -->
				  						<area shape="rect" coords="1532,724,1772,834" href="../views/2e828cc6.html"  target="view">
				  				    <!-- Other diagram objects -->
				  						<area shape="rect" coords="1532,868,1772,978" href="../views/92780408.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="1484,508,1822,1110" href="../elements/3a7c27a7.html"  target="element">
				  				        <area shape="rect" coords="1172,580,1414,702" href="../objects/aff1e557.html" target="element" >

				  				<area shape="rect" coords="1124,508,1462,1110" href="../elements/3cede902.html"  target="element">
				  						<area shape="rect" coords="1888,580,2130,690" href="../elements/74cd47b7.html"  target="element">
				  						<area shape="rect" coords="1890,868,2130,978" href="../elements/a2015d7e.html"  target="element">
				  						<area shape="rect" coords="1890,724,2130,834" href="../elements/80665bd2.html"  target="element">

				  				<area shape="rect" coords="1842,508,2180,1110" href="../elements/3a7c0ff3.html"  target="element">

				  		<area shape="rect" coords="1100,412,2200,1126" href="../elements/9296d11f.html"  target="element">
				          <area shape="rect" coords="2324,618,2830,922" href="../objects/ac736950.html" target="element" >
				          <area shape="rect" coords="668,28,1150,322" href="../objects/aa649a37.html" target="element" >
				          <area shape="rect" coords="2324,224,2830,526" href="../objects/b42584f6.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Responsibilities
- Prioritize the needs for new /changed security and compliance requirements
- Ensure delivery on security and compliance commitments 
- Decision making on the resolution of security &amp; compliance issues
- Assess the alignment of the Security &amp; compliance Roadmap to customers
- Ensure security is as effective as possible without compromising the usability of systems.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/b42584f6.html" target="element">  </a> </td>
									           <td> <a href="../objects/b42584f6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/aa649a37.html" target="element">  </a> </td>
									           <td> <a href="../objects/aa649a37.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/ac736950.html" target="element">  </a> </td>
									           <td> <a href="../objects/ac736950.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/9296d11f.html" target="element"> Supplier Security &amp; Compliance Board </a> </td>
											    <td> <a href="../elements/9296d11f.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3a7c0ff3.html" target="element"> Service Provider </a> </td>
													    <td> <a href="../elements/3a7c0ff3.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/80665bd2.html" target="element"> Security Manager </a> </td>
															    <td> <a href="../elements/80665bd2.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/a2015d7e.html" target="element"> Compliance Manager </a> </td>
															    <td> <a href="../elements/a2015d7e.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/74cd47b7.html" target="element"> Contract Manager  </a> </td>
															    <td> <a href="../elements/74cd47b7.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/3cede902.html" target="element"> Customer </a> </td>
													    <td> <a href="../elements/3cede902.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/aff1e557.html" target="element">  </a> </td>
													           <td> <a href="../objects/aff1e557.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/3a7c27a7.html" target="element"> SIAM Office </a> </td>
													    <td> <a href="../elements/3a7c27a7.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/92780408.html" target="view"> Compliance Supervisor </a> </td>
															    <td> <a href="../views/92780408.html" target="view" class="i18n-viewpoint-16"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

															<tr>
															    <td> <a href="../views/2e828cc6.html" target="view"> Security Supervisor </a> </td>
															    <td> <a href="../views/2e828cc6.html" target="view" class="i18n-viewpoint-16"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

															<tr>
															    <td> <a href="../views/ff4c4257.html" target="view"> Service Performance Manager </a> </td>
															    <td> <a href="../views/ff4c4257.html" target="view" class="i18n-viewpoint-16"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
											
											<tr>
											    <td> <a href="../elements/4388720e.html" target="element"> Head of Service Integration and Management (SIAM) </a> </td>
											    <td> <a href="../elements/4388720e.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c7293346.html" target="element"> Assure Security </a> </td>
											    <td> <a href="../elements/c7293346.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/eb08e2a9.html" target="element"> Assure Compliance </a> </td>
											    <td> <a href="../elements/eb08e2a9.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/20378726.html" target="element">  </a> </td>
									           <td> <a href="../objects/20378726.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/844ed96d.html" target="element"> Service (Delivery) Manager </a> </td>
											    <td> <a href="../elements/844ed96d.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/16c8dbe5.html" target="element"> Head of IT Delivery </a> </td>
											    <td> <a href="../elements/16c8dbe5.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/75459695.html" target="element">  </a> </td>
									           <td> <a href="../objects/75459695.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/71385caa.html" target="element"> Compliance Audit Report </a> </td>
											    <td> <a href="../elements/71385caa.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9be05158.html" target="element"> Service Organization's Control (SOC) Report (ISAE3402) </a> </td>
											    <td> <a href="../elements/9be05158.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/758e71a8.html" target="element"> Security &amp; Compliance Guidelines  </a> </td>
											    <td> <a href="../elements/758e71a8.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/decb907f.html" target="view"> SIAM Governance Model </a> </td>
											    <td> <a href="../views/decb907f.html" target="view" class="i18n-viewpoint-15"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/f7185858.html" target="view"> Assure Security </a> </td>
											    <td> <a href="../views/f7185858.html" target="view" class="i18n-viewpoint-8"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/e2dfdde8.html" target="view"> Assure Compliance </a> </td>
											    <td> <a href="../views/e2dfdde8.html" target="view" class="i18n-viewpoint-8"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/021b1afb.html" target="view"> Head of Service Integration and Management (SIAM) </a> </td>
											    <td> <a href="../views/021b1afb.html" target="view" class="i18n-viewpoint-16"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/3733c974.html" target="element"> Governance  </a> </td>
																		<td> <a href="../elements/3733c974.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/9296d11f.html" target="element"> Supplier Security &amp; Compliance Board </a> </td>
																		<td> <a href="../elements/eb08e2a9.html" target="element"> Assure Compliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2a65c49b.html" target="element"> Governance  </a> </td>
																		<td> <a href="../elements/2a65c49b.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/9296d11f.html" target="element"> Supplier Security &amp; Compliance Board </a> </td>
																		<td> <a href="../elements/c7293346.html" target="element"> Assure Security </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0a3bffd3.html" target="element"> Escalations </a> </td>
																		<td> <a href="../elements/0a3bffd3.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/9296d11f.html" target="element"> Supplier Security &amp; Compliance Board </a> </td>
																		<td> <a href="../elements/4388720e.html" target="element"> Head of Service Integration and Management (SIAM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6e7fbb2a.html" target="element"> Escalations </a> </td>
																		<td> <a href="../elements/6e7fbb2a.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/9296d11f.html" target="element"> Supplier Security &amp; Compliance Board </a> </td>
																		<td> <a href="../elements/844ed96d.html" target="element"> Service (Delivery) Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ec08c26c.html" target="element"> Escalations </a> </td>
																		<td> <a href="../elements/ec08c26c.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/9296d11f.html" target="element"> Supplier Security &amp; Compliance Board </a> </td>
																		<td> <a href="../elements/16c8dbe5.html" target="element"> Head of IT Delivery </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fd8862cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/fd8862cc.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/9296d11f.html" target="element"> Supplier Security &amp; Compliance Board </a> </td>
																		<td> <a href="../elements/71385caa.html" target="element"> Compliance Audit Report </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/e4386192.html" target="element">  </a> </td>
																				<td> <a href="../elements/e4386192.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/3a7c0ff3.html" target="element"> Service Provider </a> </td>
																				<td> <a href="../elements/80665bd2.html" target="element"> Security Manager </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/78072bbd.html" target="element">  </a> </td>
																				<td> <a href="../elements/78072bbd.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/3a7c0ff3.html" target="element"> Service Provider </a> </td>
																				<td> <a href="../elements/a2015d7e.html" target="element"> Compliance Manager </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7eed7de8.html" target="element">  </a> </td>
																				<td> <a href="../elements/7eed7de8.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/3a7c0ff3.html" target="element"> Service Provider </a> </td>
																				<td> <a href="../elements/74cd47b7.html" target="element"> Contract Manager  </a> </td>
																			</tr>

													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
											
																	<tr>
																		<td> <a href="../elements/24e1d6d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/24e1d6d2.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/c7293346.html" target="element"> Assure Security </a> </td>
																		<td> <a href="../elements/758e71a8.html" target="element"> Security &amp; Compliance Guidelines  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d02e0abc.html" target="element">  </a> </td>
																		<td> <a href="../elements/d02e0abc.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/eb08e2a9.html" target="element"> Assure Compliance </a> </td>
																		<td> <a href="../elements/71385caa.html" target="element"> Compliance Audit Report </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5f5abfff.html" target="element">  </a> </td>
																		<td> <a href="../elements/5f5abfff.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/eb08e2a9.html" target="element"> Assure Compliance </a> </td>
																		<td> <a href="../elements/758e71a8.html" target="element"> Security &amp; Compliance Guidelines  </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/5f9e5c9f.html" target="element">  </a> </td>
																		<td> <a href="../elements/5f9e5c9f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/9be05158.html" target="element"> Service Organization's Control (SOC) Report (ISAE3402) </a> </td>
																		<td> <a href="../elements/71385caa.html" target="element"> Compliance Audit Report </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>