<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Roles in Entities</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Roles in Entities</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-15"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_15" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b6197cea.png" alt="Roles in Entities" usemap="#b6197ceamap"/>
			   <map name="b6197ceamap">
				  		<area shape="rect" coords="692,20,1894,130" href="../views/19758e49.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="20,20,646,130" href="../views/6c5af63f.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1940,20,2542,130" href="../views/231084d2.html"  target="view">
				      <!-- Other diagram objects -->
				  				<area shape="rect" coords="1028,920,1268,1030" href="../views/95ca213f.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="740,920,980,1030" href="../views/4d227fcd.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1604,776,1844,886" href="../views/c3a58d6d.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1316,776,1556,886" href="../views/2e828cc6.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1028,776,1268,886" href="../views/ffac8ea4.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="740,776,980,886" href="../views/ae40c34b.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1604,632,1844,742" href="../views/1f2ade8c.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1316,632,1556,742" href="../views/3658b63f.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1028,632,1268,742" href="../views/b1ea13c6.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="740,632,980,742" href="../views/57d97fcf.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1604,488,1844,598" href="../views/ff4c4257.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1316,488,1556,598" href="../views/021b1afb.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1028,488,1268,598" href="../views/15f51421.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="740,488,980,598" href="../views/f9f53862.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1604,344,1844,454" href="../views/9bee85bc.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1316,344,1556,454" href="../views/39a69d90.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1028,344,1268,454" href="../views/ff27be9a.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="740,344,980,454" href="../views/92780408.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1604,200,1844,310" href="../views/1c232af5.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1316,200,1556,310" href="../views/18f87814.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1028,200,1268,310" href="../views/27ed0f72.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="738,200,980,310" href="../views/5c4dd635.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1316,920,1556,1030" href="../elements/476bb90d.html"  target="element">

				  		<area shape="rect" coords="692,128,1894,1066" href="../elements/3a7c27a7.html"  target="element">
				  				<area shape="rect" coords="2252,344,2492,454" href="../views/f15c2baf.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="2246,776,2496,886" href="../elements/bc18ebfb.html"  target="element">
				  				<area shape="rect" coords="2252,632,2492,742" href="../elements/e8b3cb02.html"  target="element">
				  				<area shape="rect" coords="1972,776,2212,886" href="../elements/df09c20a.html"  target="element">
				  				<area shape="rect" coords="2252,488,2492,598" href="../elements/9bea0135.html"  target="element">
				  				<area shape="rect" coords="1972,488,2212,598" href="../elements/de7ec5c6.html"  target="element">
				  				<area shape="rect" coords="1972,632,2212,742" href="../elements/80665bd2.html"  target="element">
				  				<area shape="rect" coords="1972,200,2212,310" href="../elements/74cd47b7.html"  target="element">
				  				<area shape="rect" coords="1972,920,2212,1030" href="../elements/a2015d7e.html"  target="element">
				  				<area shape="rect" coords="2252,200,2492,310" href="../elements/825966be.html"  target="element">
				  				<area shape="rect" coords="1972,344,2212,454" href="../elements/33779788.html"  target="element">

				  		<area shape="rect" coords="1940,128,2542,1066" href="../elements/3a7c0ff3.html"  target="element">
				  				<area shape="rect" coords="356,776,596,886" href="../elements/2baba8a0.html"  target="element">
				  				<area shape="rect" coords="68,776,308,886" href="../elements/22364ae5.html"  target="element">
				  				<area shape="rect" coords="356,488,596,598" href="../elements/16c8dbe5.html"  target="element">
				  				<area shape="rect" coords="356,344,596,454" href="../elements/c2736c1d.html"  target="element">
				  				<area shape="rect" coords="356,200,596,310" href="../elements/f2f881b4.html"  target="element">
				  				<area shape="rect" coords="356,632,596,742" href="../elements/c4a57844.html"  target="element">
				  				<area shape="rect" coords="68,200,308,310" href="../elements/213329bd.html"  target="element">
				  				<area shape="rect" coords="68,344,308,454" href="../elements/72cd4ca7.html"  target="element">
				  				<area shape="rect" coords="68,488,308,598" href="../elements/9a35bec4.html"  target="element">
				  				<area shape="rect" coords="68,632,308,742" href="../elements/588a2722.html"  target="element">

				  		<area shape="rect" coords="20,128,646,1066" href="../elements/3cede902.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/3cede902.html" target="element"> Customer </a> </td>
											    <td> <a href="../elements/3cede902.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/588a2722.html" target="element"> Solutions Architect </a> </td>
													    <td> <a href="../elements/588a2722.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9a35bec4.html" target="element"> Project Sponsor / Owner </a> </td>
													    <td> <a href="../elements/9a35bec4.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/72cd4ca7.html" target="element"> Enterprise Architect </a> </td>
													    <td> <a href="../elements/72cd4ca7.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/213329bd.html" target="element"> Auditor </a> </td>
													    <td> <a href="../elements/213329bd.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c4a57844.html" target="element"> Change manager </a> </td>
													    <td> <a href="../elements/c4a57844.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f2f881b4.html" target="element"> Contract &amp; Vendor Manager </a> </td>
													    <td> <a href="../elements/f2f881b4.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c2736c1d.html" target="element"> Project / Transition Manager </a> </td>
													    <td> <a href="../elements/c2736c1d.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/16c8dbe5.html" target="element"> Head of IT Delivery </a> </td>
													    <td> <a href="../elements/16c8dbe5.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/22364ae5.html" target="element"> Security &amp; Compliance Officer </a> </td>
													    <td> <a href="../elements/22364ae5.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2baba8a0.html" target="element"> Service Delivery Manager  </a> </td>
													    <td> <a href="../elements/2baba8a0.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/3a7c0ff3.html" target="element"> Service Provider </a> </td>
											    <td> <a href="../elements/3a7c0ff3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/33779788.html" target="element"> Account Manager </a> </td>
													    <td> <a href="../elements/33779788.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/825966be.html" target="element"> Change Manager </a> </td>
													    <td> <a href="../elements/825966be.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a2015d7e.html" target="element"> Compliance Manager </a> </td>
													    <td> <a href="../elements/a2015d7e.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/74cd47b7.html" target="element"> Contract Manager  </a> </td>
													    <td> <a href="../elements/74cd47b7.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/80665bd2.html" target="element"> Security Manager </a> </td>
													    <td> <a href="../elements/80665bd2.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/de7ec5c6.html" target="element"> Transition / Project Manager </a> </td>
													    <td> <a href="../elements/de7ec5c6.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9bea0135.html" target="element"> Incident Manager </a> </td>
													    <td> <a href="../elements/9bea0135.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/df09c20a.html" target="element"> Service Catalogue Manager </a> </td>
													    <td> <a href="../elements/df09c20a.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e8b3cb02.html" target="element"> Problem Manager </a> </td>
													    <td> <a href="../elements/e8b3cb02.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bc18ebfb.html" target="element"> Configuration Manager </a> </td>
													    <td> <a href="../elements/bc18ebfb.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../views/f15c2baf.html" target="view"> Service (Delivery) Manager </a> </td>
													    <td> <a href="../views/f15c2baf.html" target="view" class="i18n-viewpoint-15"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/3a7c27a7.html" target="element"> SIAM Office </a> </td>
											    <td> <a href="../elements/3a7c27a7.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/476bb90d.html" target="element"> Contract &amp; Supplier Manager  </a> </td>
													    <td> <a href="../elements/476bb90d.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../views/5c4dd635.html" target="view"> Asset & Configuration Manager </a> </td>
													    <td> <a href="../views/5c4dd635.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/27ed0f72.html" target="view"> Capacity Management Supervisor </a> </td>
													    <td> <a href="../views/27ed0f72.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/18f87814.html" target="view"> Change & Release Coordinator </a> </td>
													    <td> <a href="../views/18f87814.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/1c232af5.html" target="view"> Service Catalogue Manager </a> </td>
													    <td> <a href="../views/1c232af5.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/92780408.html" target="view"> Compliance Supervisor </a> </td>
													    <td> <a href="../views/92780408.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/ff27be9a.html" target="view"> Continuous Improvement Supervisor </a> </td>
													    <td> <a href="../views/ff27be9a.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/39a69d90.html" target="view"> Customer Engagement Lead </a> </td>
													    <td> <a href="../views/39a69d90.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/9bee85bc.html" target="view"> Service Continuity Supervisor </a> </td>
													    <td> <a href="../views/9bee85bc.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/f9f53862.html" target="view"> Customer Service Level Manager </a> </td>
													    <td> <a href="../views/f9f53862.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/15f51421.html" target="view"> Financial Manager </a> </td>
													    <td> <a href="../views/15f51421.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/021b1afb.html" target="view"> Head of Service Integration and Management (SIAM) </a> </td>
													    <td> <a href="../views/021b1afb.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/ff4c4257.html" target="view"> Service Performance Manager </a> </td>
													    <td> <a href="../views/ff4c4257.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/57d97fcf.html" target="view"> IT Ecosystem Designer </a> </td>
													    <td> <a href="../views/57d97fcf.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/b1ea13c6.html" target="view"> IT Ecosystem Manager </a> </td>
													    <td> <a href="../views/b1ea13c6.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/3658b63f.html" target="view"> IT Service Delivery Coordinator </a> </td>
													    <td> <a href="../views/3658b63f.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/1f2ade8c.html" target="view"> Service Transition Manager </a> </td>
													    <td> <a href="../views/1f2ade8c.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/ae40c34b.html" target="view"> Knowledge Manager </a> </td>
													    <td> <a href="../views/ae40c34b.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/ffac8ea4.html" target="view"> Release & Deployment Manager </a> </td>
													    <td> <a href="../views/ffac8ea4.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/2e828cc6.html" target="view"> Security Supervisor </a> </td>
													    <td> <a href="../views/2e828cc6.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/c3a58d6d.html" target="view"> SIAM Service Designer  </a> </td>
													    <td> <a href="../views/c3a58d6d.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/4d227fcd.html" target="view"> Test Coordinator </a> </td>
													    <td> <a href="../views/4d227fcd.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/95ca213f.html" target="view"> Test Manager  </a> </td>
													    <td> <a href="../views/95ca213f.html" target="view" class="i18n-viewpoint-16"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../views/231084d2.html" target="view"> Overview Service Provider Roles </a> </td>
											    <td> <a href="../views/231084d2.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/6c5af63f.html" target="view"> Overview Customer Roles </a> </td>
											    <td> <a href="../views/6c5af63f.html" target="view" class="i18n-viewpoint-15"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/19758e49.html" target="view"> SIAM Role Structure </a> </td>
											    <td> <a href="../views/19758e49.html" target="view" class="i18n-viewpoint-15"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/cc75393e.html" target="element">  </a> </td>
																		<td> <a href="../elements/cc75393e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/3cede902.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/213329bd.html" target="element"> Auditor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/492ecdb5.html" target="element">  </a> </td>
																		<td> <a href="../elements/492ecdb5.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/3cede902.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/72cd4ca7.html" target="element"> Enterprise Architect </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/52b18ea7.html" target="element">  </a> </td>
																		<td> <a href="../elements/52b18ea7.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/3cede902.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/9a35bec4.html" target="element"> Project Sponsor / Owner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/03f6cdd8.html" target="element">  </a> </td>
																		<td> <a href="../elements/03f6cdd8.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/3cede902.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/588a2722.html" target="element"> Solutions Architect </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7478d630.html" target="element">  </a> </td>
																		<td> <a href="../elements/7478d630.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/3cede902.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/c4a57844.html" target="element"> Change manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/719536a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/719536a1.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/3cede902.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/16c8dbe5.html" target="element"> Head of IT Delivery </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/95787130.html" target="element">  </a> </td>
																		<td> <a href="../elements/95787130.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/3cede902.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/22364ae5.html" target="element"> Security &amp; Compliance Officer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/19794406.html" target="element">  </a> </td>
																		<td> <a href="../elements/19794406.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/3cede902.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/f2f881b4.html" target="element"> Contract &amp; Vendor Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/31825ff7.html" target="element">  </a> </td>
																		<td> <a href="../elements/31825ff7.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/3cede902.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/c2736c1d.html" target="element"> Project / Transition Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1700ea41.html" target="element">  </a> </td>
																		<td> <a href="../elements/1700ea41.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/3cede902.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/2baba8a0.html" target="element"> Service Delivery Manager  </a> </td>
																	</tr>

											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
																	<tr>
																		<td> <a href="../elements/b7262192.html" target="element">  </a> </td>
																		<td> <a href="../elements/b7262192.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/3a7c27a7.html" target="element"> SIAM Office </a> </td>
																		<td> <a href="../elements/476bb90d.html" target="element"> Contract &amp; Supplier Manager  </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>