<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Manage Service Transition</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Manage Service Transition</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-8"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_8" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b7c3fbe9.png" alt="Manage Service Transition" usemap="#b7c3fbe9map"/>
			   <map name="b7c3fbe9map">
				  		<area shape="rect" coords="60,716,300,826" href="../elements/c2736c1d.html"  target="element">
				  		<area shape="rect" coords="22,116,262,226" href="../elements/9a35bec4.html"  target="element">
				  		<area shape="rect" coords="1464,736,1704,846" href="../elements/6e22393c.html"  target="element">
				          <area shape="rect" coords="1942,500,2532,748" href="../objects/1f4970e2.html" target="element" >
				          <area shape="rect" coords="20,548,262,642" href="../objects/018afccf.html" target="element" >
				          <area shape="rect" coords="24,272,300,376" href="../objects/029b3391.html" target="element" >
				  		<area shape="rect" coords="428,476,668,618" href="../elements/c5ae7dd6.html"  target="element">
				          <area shape="rect" coords="24,414,258,502" href="../objects/3cabca5f.html" target="element" >
				  		<area shape="rect" coords="428,340,668,450" href="../elements/9d946bb6.html"  target="element">
				          <area shape="rect" coords="308,92,678,194" href="../objects/f44fa4f4.html" target="element" >
				  		<area shape="rect" coords="908,740,1148,886" href="../elements/4a42cf5e.html"  target="element">
				  		<area shape="rect" coords="1580,164,1820,274" href="../elements/cf406f53.html"  target="element">
				  		<area shape="rect" coords="1100,20,1340,130" href="../elements/2e7ea966.html"  target="element">
				  		<area shape="rect" coords="884,164,1124,274" href="../elements/797fafbc.html"  target="element">
				  		<area shape="rect" coords="1388,20,1628,130" href="../elements/94384198.html"  target="element">
				          <area shape="rect" coords="1940,92,2536,450" href="../objects/15a1f607.html" target="element" >
				  		<area shape="rect" coords="884,380,1820,598" href="../elements/14b27e86.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Goal
- To ensure the efficient migration of (new) services and (new) service tower suppliers within the control of the SIAM function
- To ensure the embedding of an effective service supplier governance from the SIAM function perspective
- To ensure coordination of integration of Service Integration processes across multiple service tower suppliers </div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/14b27e86.html" target="element"> Manage Service Transition </a> </td>
											    <td> <a href="../elements/14b27e86.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/15a1f607.html" target="element">  </a> </td>
									           <td> <a href="../objects/15a1f607.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/94384198.html" target="element"> Customer Engagement Lead (SIAM Program Manager) </a> </td>
											    <td> <a href="../elements/94384198.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/797fafbc.html" target="element"> Service Transition Manager </a> </td>
											    <td> <a href="../elements/797fafbc.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2e7ea966.html" target="element"> Steering Committee </a> </td>
											    <td> <a href="../elements/2e7ea966.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cf406f53.html" target="element"> Test Manager  </a> </td>
											    <td> <a href="../elements/cf406f53.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4a42cf5e.html" target="element"> Service Level Agreements (SLA) </a> </td>
											    <td> <a href="../elements/4a42cf5e.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/f44fa4f4.html" target="element">  </a> </td>
									           <td> <a href="../objects/f44fa4f4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/9d946bb6.html" target="element"> Service Integration Request </a> </td>
											    <td> <a href="../elements/9d946bb6.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/3cabca5f.html" target="element">  </a> </td>
									           <td> <a href="../objects/3cabca5f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/c5ae7dd6.html" target="element"> Service Integration Change Request </a> </td>
											    <td> <a href="../elements/c5ae7dd6.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/029b3391.html" target="element">  </a> </td>
									           <td> <a href="../objects/029b3391.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/018afccf.html" target="element">  </a> </td>
									           <td> <a href="../objects/018afccf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/1f4970e2.html" target="element">  </a> </td>
									           <td> <a href="../objects/1f4970e2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/6e22393c.html" target="element"> Required Modifications to Service Catalogue </a> </td>
											    <td> <a href="../elements/6e22393c.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9a35bec4.html" target="element"> Project Sponsor / Owner </a> </td>
											    <td> <a href="../elements/9a35bec4.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c2736c1d.html" target="element"> Project / Transition Manager </a> </td>
											    <td> <a href="../elements/c2736c1d.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/f11ee1aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/f11ee1aa.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/14b27e86.html" target="element"> Manage Service Transition </a> </td>
																		<td> <a href="../elements/4a42cf5e.html" target="element"> Service Level Agreements (SLA) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/574522c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/574522c6.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/14b27e86.html" target="element"> Manage Service Transition </a> </td>
																		<td> <a href="../elements/6e22393c.html" target="element"> Required Modifications to Service Catalogue </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/d617b7f2.html" target="element"> Responsible </a> </td>
																		<td> <a href="../elements/d617b7f2.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/94384198.html" target="element"> Customer Engagement Lead (SIAM Program Manager) </a> </td>
																		<td> <a href="../elements/14b27e86.html" target="element"> Manage Service Transition </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9b41700d.html" target="element"> Accountable </a> </td>
																		<td> <a href="../elements/9b41700d.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/797fafbc.html" target="element"> Service Transition Manager </a> </td>
																		<td> <a href="../elements/14b27e86.html" target="element"> Manage Service Transition </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/12f0f7b6.html" target="element"> Governance </a> </td>
																		<td> <a href="../elements/12f0f7b6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/2e7ea966.html" target="element"> Steering Committee </a> </td>
																		<td> <a href="../elements/14b27e86.html" target="element"> Manage Service Transition </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8d3ea84b.html" target="element"> Responsible </a> </td>
																		<td> <a href="../elements/8d3ea84b.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/cf406f53.html" target="element"> Test Manager  </a> </td>
																		<td> <a href="../elements/14b27e86.html" target="element"> Manage Service Transition </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/5c9fcb4f.html" target="element">  </a> </td>
																		<td> <a href="../elements/5c9fcb4f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/9d946bb6.html" target="element"> Service Integration Request </a> </td>
																		<td> <a href="../elements/14b27e86.html" target="element"> Manage Service Transition </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/e70f361b.html" target="element">  </a> </td>
																		<td> <a href="../elements/e70f361b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/c5ae7dd6.html" target="element"> Service Integration Change Request </a> </td>
																		<td> <a href="../elements/14b27e86.html" target="element"> Manage Service Transition </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/57ed6303.html" target="element">  </a> </td>
																		<td> <a href="../elements/57ed6303.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/9a35bec4.html" target="element"> Project Sponsor / Owner </a> </td>
																		<td> <a href="../elements/9d946bb6.html" target="element"> Service Integration Request </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c4b9b8e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/c4b9b8e3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/9a35bec4.html" target="element"> Project Sponsor / Owner </a> </td>
																		<td> <a href="../elements/c5ae7dd6.html" target="element"> Service Integration Change Request </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8f625646.html" target="element">  </a> </td>
																		<td> <a href="../elements/8f625646.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/c2736c1d.html" target="element"> Project / Transition Manager </a> </td>
																		<td> <a href="../elements/c5ae7dd6.html" target="element"> Service Integration Change Request </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>